.meal {
  margin: 1rem;
  padding: 2rem 5rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.meal h2 {
  font-size: 2rem;
  color: #f7e702;
  text-transform: uppercase;
}

.meal h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.meal-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.meal-card {
  margin: 2rem auto;
}
