* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
  }
  
  .home-page {
	background-color: #f7f7f7;
	margin: 30px auto;
	padding: 30px;
	border-radius: 20px;
  }
  .home-title{
	background-color: #e7e7e7;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 50px;
	text-align: center;
  }
  
  .form {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 35px 0;
	
  }
  
  input:focus {
	outline: none;
  }
  
  .search-control {
	border-radius: 5px;
	width: 400px;
	border: 1px solid #f7f7f7;
	padding: 10px;
	font-size: 16px;
	box-shadow: 2px 2px 5px rgb(95, 88, 68);
  }
  
  .btn {
	border-radius: 5px;
	margin-left: 5px;
	cursor: pointer;
	background-color: #f3a73d;
	box-shadow: 2px 2px 5px rgb(95, 88, 68);
	border: none;
  }
  
  
  .recipes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
  }
  
  .card {
	width: 200px;
	background-color: white;
	margin: 10px;
	border-radius: 5px;
	padding-bottom: 10px;
  }
  
  .card-image {
	width: 100%;
  }
  
  .card-body {
	padding: 10px;
	text-align: center;
	
  }
  
  .category {
	color: #a1a1a1;
  }
  
  .guide {
	background-color: #f3a73d;
	color: inherit;
	padding: 8px 10px;
	border-radius: 5px;
	text-decoration: none;
  }
  