/* Common CSS */
body {
  font-size: 100%;
  margin: 0 auto;
}
h1 {
  font-family: "Viga", sans-serif;
  font-weight: normal;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
  font-size: 1.55em !important;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

main {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
img {
  width: 100%;
  /* height: 100%; */
}
li {
  list-style-type: none;
}
.page-title {
  background-color: #e7e7e7;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  padding: 30px;
  background-color: black;
  margin-top: 3rem;
}
