/* Common CSS */
body {
  font-size: 100%;
  margin: 0 auto;
}
h1 {
  font-family: "Viga", sans-serif;
  font-weight: normal;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
  font-size: 1.55em !important;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

main {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  color: white;
  padding: 30px;
  background-color: black;
  margin-top: 3rem;
}

